<div class="login-bg d-flex justify-content-center align-items-center vh-100">
  <div class="col-11 col-sm-8 col-md-6 col-lg-4">
    <p-card header="Iniciar Sesión" class="text-center shadow-lg rounded-4 p-4 login-card">
      <form class="p-fluid" (ngSubmit)="login()">
        <div class="form-group mb-3 text-start">
          <label for="username" class="form-label fw-semibold text-white">Usuario</label>
          <input id="username" type="text" class="form-control" [(ngModel)]="username" name="username" required>
        </div>
        <div class="form-group mb-3 text-start">
          <label for="password" class="form-label fw-semibold text-white">Contraseña</label>
          <input id="password" type="password" class="form-control" [(ngModel)]="password" name="password" required>
        </div>
        <button pButton type="submit" label="Ingresar" class="w-100 mt-2 custom-btn"></button>
        <button pButton type="submit" label="Atras" class="w-100 mt-2 custom-btn" [routerLink]="['/index']"></button>
        <p-message *ngIf="error" severity="error" text="{{ error }}" class="mt-3"></p-message>
      </form>
    </p-card>
  </div>
</div>
