<form *ngIf="citaForm" [formGroup]="citaForm" (ngSubmit)="registrar()">
  <div class="form-group">
    <label for="especialidad">Selección, especialidad:</label>
    <select formControlName="especialidad" id="especialidad">
      <option *ngFor="let especialidad of especialidades" [value]="especialidad.id">
        {{ especialidad.nombre }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="medico">Selección, médico:</label>
    <select formControlName="medico" id="medico">
      <option *ngFor="let medico of medicos" [value]="medico.id">
         {{ medico.usuario }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="fecha">Selección, fecha:</label>
    <input type="date" formControlName="fecha" id="fecha" />
  </div>

  <div class="buttons">
    <button type="submit" [disabled]="!citaForm.valid">Reservar cita</button>
    <button type="button" id="calcular">Calcular</button>
  </div>
</form>
