<div class="dashboard-container">
  <!-- Header -->
  <div class="dashboard-header">
    <div class="welcome-section">
      <div class="user-avatar">
        <i class="pi pi-user"></i>
      </div>
      <div class="welcome-text">
        <h1 class="welcome-title">Bienvenido</h1>
        <span class="user-name">{{usuario.first_name}} {{usuario.last_name}}</span>
      </div>
    </div>
    <button class="logout-btn" (click)="cerrarSesion()">
      <i class="pi pi-sign-out"></i>
      Cerrar Sesión
    </button>
  </div>

  <div class="nav-section">
    <button class="nav-btn nav-btn-active">
      <i class="pi pi-home"></i>
      Inicio
    </button>
    <button class="nav-btn" [routerLink]="['/miperfil']">
      <i class="pi pi-user"></i>
      Mi perfil
    </button>
  </div>

  <div class="main-section">
    <div class="section-header">
      <h2 class="section-title">
        <i class="pi pi-calendar"></i>
        CITAS
      </h2>
      <button class="primary-btn" [routerLink]="['/reservarcita']">
        <i class="pi pi-plus"></i>
        Reservar cita
      </button>
    </div>

    <div class="dashboard-container">
      <div class="dashboard-header">
        <div class="welcome-section">
          <div class="user-avatar">
            <i class="pi pi-calendar"></i>
          </div>
          <div class="welcome-text">
            <h1 class="welcome-title">Citas Programadas</h1>
            <span class="user-name">Aquí puedes ver tus próximas citas</span>
          </div>
        </div>
      </div>

      <div class="main-section">
        <div *ngIf="citas.length > 0; else sinCitas">
          <div class="section-header">
            <h2 class="section-title">
              <i class="pi pi-list"></i> Tus citas
            </h2>
          </div>

          <div class="cards-container">
            <div class="action-card" *ngFor="let cita of citas">
              <div class="card-content">
                <div class="card-icon scheduled">
                  <i class="pi pi-calendar-clock"></i>
                </div>
                <div class="card-text">
                  <p><strong>Fecha:</strong> {{ cita.fecha }}</p>
                  <p><strong>Hora:</strong> {{ cita.hora }}</p>
                  <p><strong>Especialidad:</strong> {{ cita.especialidad.nombre }}</p>
                  <p><strong>Médico:</strong> {{ cita.medico.usuario.nombre }} {{cita.medico.usuario.apellido}}</p>
                  
                </div>
              </div>
            </div>
          </div>
        </div>

        <ng-template #sinCitas>
          <p>No tienes citas programadas.</p>
        </ng-template>
      </div>
    </div>


      
    </div>
  </div>
